.row-header{
    margin:0px auto;
    padding:0px auto;
}

.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
}

.row-footer{
    background-color: #AfAfAf;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
}

.jumbotron {
    padding:70px 30px 70px 30px;
    margin:0px auto;
    background: #7986CB ;
    color:floralwhite;
}

address{
    font-size:80%;
    margin:0px;
    color:#0f0f0f;
}

body{
    z-index: 0;
    font-family: Avenir;
}

.navbar-inverse{
    background: #303F9F;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
    color: #fff;
    background: #1A237E;
}

.navbar-inverse .navbar-nav .open .dropdown-menu> li> a,
.navbar-inverse .navbar-nav .open .dropdown-menu {
    background-color: #303F9F;
    color:#eeeeee;
}

.navbar-inverse .navbar-nav .open .dropdown-menu> li> a:hover {
    color:#000000;
}

.navbar-custom {
  background: #F7F7F7;
  font-family: Avenir; 
  font-weight: 700;
  padding: 10px 0px;
}

.navbar-custom .navbar-header .navbar-brand{
    text-shadow: 2px 1px #dddddd;
    color: #FF6600;
    font-size: 36px;
}

.navbar-custom .navbar-collapse .title-add > li > a{
    color: #FF6600;
    font-size: 20px;
}

#wrapper #sidebar-wrapper, #wrapper #sidebar-wrapper .sidebar-nav > li > a{
    background: #52575E;
    font-family: Avenir;
    color:#F3F3F3;
}

.navbar-fixed-bottom,.navbar-fixed-top{
    position: absolute;
}

#menu-button{
    color:#FF6600; 
    font-size:26px; 
    background-color: transparent; 
    border: 1px solid transparent;
    border-radius: 4px;
}

.navbar-toggle{
    border:none;
    font-size:25px;
}

#page-content-wrapper .container-fluid{
    padding-top:40px;
}

#content.thumbnail{
    padding-top: 20px;
}

#trip-list.thumbnail{
    background-color: #EEEEEE;
}

.well.well-lg{
    border-radius: 3px;
    border-color: transparent;
    background-image:none;
    background-color: #EEEEEE;
    padding-top: 20px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.trip-list{
    padding-top: 20px;
}

h1{
    font-family:avenir, 'avenir next', helvetica, arial, sans-serif;
    text-transform:capitalize;
    font-variant:small-caps;
}

h3{
    display:inline;
    font-size: 25px;
    font-family:avenir, 'avenir next', helvetica, sans-serif;
}
h4{
    padding-top: 20px;
    display: inline;
    font-weight:lighter;
    font-size: 18px;
}


.trip-detail{
    background-color:transparent; 
    font-size:30px;
    margin:2    0px;
}

.trip-name{
    margin:5px;
    padding:5px;
}

.trip-date{
    margin:5px;
    padding:5px;
}